<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Permission to use notifications/reminders, this one is granted by default-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <!--Permission to use alarm-->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>

    <!--Permission to be aware when the app is closed so the alarm is still scheduled-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradualAlarm"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GradualAlarm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register alarm receiver -->
        <receiver android:name=".AlarmReceiver"/>

        <!-- should be able to remove this one -->
        <service android:name=".AlarmService"
            android:foregroundServiceType="specialUse"/>

    </application>

</manifest>